.countdown-circle ul{
	padding: 0px;
	margin: 0px;
	background-color: none;
	list-style: none;
}

.countdown-circle ul li {
	padding-left: 0.6em;
	padding-right: 0.6em;
	padding-bottom: 0.6em;
	padding-top: 1.2em;
	margin: 1.5em;
	display: inline-block;
	line-height: 1.8;
	border: 3px solid white;

	width: 5.8em;
	height: 5.8em;

	border-radius: 50%;
}
